# Server
PORT=5000
NODE_ENV=development

# PostgreSQL connection
DB_HOST=postgres-nspo.railway.internal
DB_PORT=5432
DB_NAME=railway
DB_USER=postgres
DB_PASSWORD=PlaDDFpySZTDYuZjDnpVqVNjHfsDPtAb
# JSON Web Token
JWT_SECRET=rentease_super_secret_key_2026_gangadharan
JWT_EXPIRES_IN=7d

# Frontend URL (for CORS)
CLIENT_URL=https://rentease-rental-platform-7fng.vercel.app
